.page.theme_dark {
  --main-font: 'IBM Plex mono';
  --bg-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --bg-accent-color: #FF0070;
  --text-color: #F1B2CE;
  --accent-color: #DB00FF;
  --title-accent-color: #FF0070;
  --title-color: #000028;
  --color-shadow: #FF0070;
  --color-button: rgba(255, 0, 112, 0.40);
}

.theme_dark .circle::before {
  visibility: visible;
} 

.theme_dark .circle::after {
  visibility: visible;
}

@media (prefers-color-scheme: dark) {
  .circle::before {
    visibility: visible;
  } 
  
  .circle::after {
    visibility: visible;
  }
}