.page.theme_dark {
  --main-font: 'IBM Plex mono';
  --bg-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --bg-accent-color: #FF0070;
  --text-color: #F1B2CE;
  --accent-color: #DB00FF;
  --title-accent-color: #FF0070;
  --title-color: #000028;
  --color-shadow: #FF0070;
}