.page.theme_dark {
  --main-font: 'IBM Plex mono';
  --bg-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --bg-accent-color: #FF0070;
  --text-color: #F1B2CE;
  --title-accent-color: #FF0070;
  --title-color: #000028;
  --color-shadow: #FF0070;
}

.theme_dark .heading__title {
  color: #DB00FF;
} 

.theme_dark .circle::before {
  content: 'REC';
  visibility: visible;
  display: inline-block;
  right: 29px;
  top: 0;
  position: absolute;
  color: #FF0070;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
} 

.theme_dark .circle::after {
  content: '';
  visibility: visible;
  position: absolute;
  top: 7px;
  right: 8px;
  background: #FF0070;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 2px #FF0070;
  width: 11px;
  height: 11px;
}

.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.40);
}

@media (prefers-color-scheme: dark) {
  .heading__title {
    color: #DB00FF;
  } 

  .circle::before {
    content: 'REC';
    visibility: visible;
    display: inline-block;
    right: 29px;
    top: 0;
    position: absolute;
    color: #FF0070;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
  } 
  
  .circle::after {
    content: '';
    visibility: visible;
    position: absolute;
    top: 7px;
    right: 8px;
    background: #FF0070;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 2px #FF0070;
    width: 11px;
    height: 11px;
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(255, 0, 112, 0.40);
  }
}