.page.theme_light {
  --main-font: 'IBM Plex mono';
  --bg-color: #FFF1F7;
  --background-image: url(../images/cover-image-light.png);
  --bg-accent-color: #FF8DCB;
  --text-color: #353430;
  --title-accent-color: #353430; 
  --title-color: #353430; 
  --color-shadow: #FF8DCB;  
}

.theme_light .heading__title {
  color: #FFC2E6;
}

.theme_light .circle::before {
  display: none;
} 

.theme_light .circle::after {
  visibility: hidden;
}

.theme_light .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.40);
}

@media (width >= 1024px) {
  .theme_light .heading__title {
    text-shadow: 4px 4px 0px #FF0070;
  }

  .theme_light .content__text-block a {
    text-shadow: 2px 2px 0 #FF0070;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: 'IBM Plex mono';
    --bg-color: #FFF1F7;
    --background-image: url(../images/cover-image-light.png);
    --bg-accent-color: #FF8DCB;
    --text-color: #353430;
    --title-accent-color: #353430; 
    --title-color: #353430; 
    --color-shadow: #FF8DCB;    
    } 

    .page.theme_auto {
      --main-font: 'IBM Plex mono';
      --bg-color: #FFF1F7;
      --background-image: url(../images/cover-image-light.png);
      --bg-accent-color: #FF8DCB;
      --text-color: #353430;
      --title-accent-color: #353430; 
      --title-color: #353430; 
      --color-shadow: #FF8DCB;  
    }

    .heading__title {
      color: #FFC2E6;
    }

    .circle::before {
      display: none;
    } 
    
    .circle::after {
      visibility: hidden;
    }

    .header__theme-menu-button:hover {
      outline: 1px solid rgba(50, 49, 45, 0.40);
    }
}

@media (prefers-color-scheme: light) and (width >= 1024px) {
  .heading__title {
    text-shadow: 4px 4px 0px #FF0070;
  }

  .content__text-block a {
    text-shadow: 2px 2px 0 #FF0070;
  }
}
