.page {
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color);
  background-image: var(--background-image);
  color: var(--text-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  height: 100%;
  margin: 10px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  content: '';
  inset-inline-end: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--title-accent-color);
  border-right: 1px solid var(--title-accent-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--title-accent-color);
  border-left: 1px solid var(--title-accent-color);
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: center;
} 

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
}

.header__theme-menu-item {
  display: block;
}

.header__theme-menu-button {
  min-width: 70px;
  color: var(--title-accent-color);
  border: none;
  text-align: center;
  background-color: transparent;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--title-accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.heading__title {
  text-shadow: 4px 4px 0 var(--color-shadow);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
} 

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.header__text {
  max-width: 355px;
}

.title-decor {
  background-color: var(--bg-accent-color);
  color: var(--title-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.content {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  margin-block-start: 50px;
  margin-block-end: 50px;
}

.content__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-end: 50px;
}

.content__block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__block-question {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content__text-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__text-block a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-shadow);
}

.content__text-block a:hover {
  border-bottom: 1px solid currentColor;
}

.content__text-block a:focus {
  outline: none;
}

.content__text-block a:focus-visible {
  border: 1px solid var(--text-color);
}

.content__text {
  color: var(--title-accent-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.content__paragraph {
  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
}

.content__heading {
  font-weight: 400;
}

.gallery__section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__picture {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.footer {
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 10px;
}

.footer__heading {
  display: flex;
  align-items: center;
}

@media (width < 768px) {
  .header {
    min-height: 648px;
  }

  .footer  {
    min-height: 647px;
  }
}


@media (width >= 768px) {
  .header {
    margin: 20px;
    min-height: 984px;
  }

  .heading__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  } 

  .header .heading__title {
    margin-inline-start: -20px;
  } 

  .header__text {
    min-width: 364px;
  }

  .content {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    margin-block-start: 80px;
    margin-block-end: 80px;
  }

  .content__section {
    margin-block-end: 80px;
  }

  .content__section-reasons {
    display: grid;
    grid-template-columns: calc(100vw * 0.3073) 1fr;
    column-gap: 20px;
  }

  .gallery__section {
    gap: 20px;
  }

  .content__picture {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  }

  .picture__one {
    grid-area: sunset;
  }

  .picture__two {
    grid-area: ice-cream;
  }

  .picture__three {
    grid-area: tape;
  }

  .picture__four {
    grid-area: books;
  }

  .picture__five {
    grid-area: street;
  }

  .footer {
    min-height: 984px;
    margin: 20px;
  }
}

@media (768px <= width < 1024px) {
  .content__section-questions .content__text {
    max-width: 236px;
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 728px;
  }

  .header__theme-menu {
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .header__text {
    min-width: 491px;
  }

  .content__block-question {
    display: grid;
    grid-template-columns: minmax(315px, 1fr) minmax(315px, 1fr) minmax(315px, 1fr);
    row-gap: 20px;
    justify-content: space-between;
  }

  .content__section-questions .content__text {
    max-width: 315px;
  }

  .footer {
    min-height: 728px;
  }
}